.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containera{
    display:flex;
    justify-content: space-between;
    
    width: 80%;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.message{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram, .twitter, .linkedin, .gmail{
    display: flex;
    align-items: center;
    row-gap: 50px;
    margin-left: 20%;
}
a{
    color: inherit;
}
.instagram, .twitter, .linkedin, .gmail:hover{
    cursor: pointer;
}
.messageimg{
    width: 500px;
    border-radius: 50%;
}
img{
    margin-right: 5%;
}